.tab {
	color: white;
	margin: 0px; 
	padding: 5px; 
	height:100vh; 
	background:  #36393f; 
	display: inline-block; 
	vertical-align: top;
}

.board {
	background: purple;
  	position: relative;
  	left: 50%;
	width: 100px;
	height: 100px;
	
}

.square {
	width: 12.5%;
	height: 12.5%;
    margin: 0px;
    padding: 0px;
    position: absolute;
	text-align: center;
    vertical-align: middle;
	font-size: inherit;
	transform: translate(-50%, -50%);
}

.piece {
	width: 12.5%;
	height: 12.5%;
	position: absolute;
	cursor: grab;
	z-index: 10;
	transform: translate(-50%, -50%);
}

.highlight {
	opacity: 0.5;
	background: yellow;
	position: absolute;
	z-index: 20;
	width: 6.25%;
	height: 6.25%;
	margin-left: 3.125%;
	margin-top: 3.125%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.output {
	background: #1c1e32;
	width: 100%;
	overflow: auto;
	padding: 5px;
	color: white;
	white-space: nowrap;
}

.arrow {
	opacity: 0.2;
	height: 12.5%;
	position: absolute;
	pointer-events: none;
	z-index: 40;
}

/* 
biege #ae8a68
blue #1c1e32
discord #36393f
black 
*/